[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
	branch = master
[submodule "content/plugins/backupwordpress-pro"]
	path = content/plugins/backupwordpress-pro
	url = git@github.com:humanmade/backupwordpress-pro.git
	branch = master
[submodule "backupwordpress"]
	path = backupwordpress
	url = git@github.com:humanmade/backupwordpress.git
	branch = master
